$primary-color: #f8f8f8;

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.body {
    color: #373833;
}

.hero {
    width: 100%;
    background-color: $primary-color;
}

.flex-navbar{
    justify-content: flex-end;
}

.container{
    margin-top: 5%;
}

.container-content{
    display: flex;
    justify-content: left; 
    align-items: left;
}

.home-bio{
    display: flex; 
    align-items: left; 
    justify-content: left; 
    margin-bottom: 30px;
}

.home-bio-content{
    display: flex; 
    flex-direction: column; 
    align-items: left;
}

.portfolio-link{
    text-decoration: none; 
    color: #fff;
}

.image-div{
    display:flex; 
    align-items: center; 
    justify-content: center
}

.socials{
    display: flex; 
    justify-content:space-evenly;
}

.social-item {
    display: flex;
    align-items: center;
}

.social-name {
    margin-left: 5px;
}

.presentation-container{
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #000000 !important;
    --bs-btn-border-color: #000000 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(0, 0, 0, 0.8) !important;
    --bs-btn-hover-border-color: #000000 !important;
    --bs-btn-focus-shadow-rgb: 250, 39, 66 !important;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000 !important;
    --bs-btn-active-border-color: #000000 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-border-radius: 30px;
    font-size: calc(1rem + .3vw) !important;
}

.btn-outline-primary {
    --bs-btn-color: #000000 !important;
    --bs-btn-border-color: #000000 !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000 !important;
    --bs-btn-hover-border-color: #000000 !important;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #000000 !important;
    --bs-btn-active-border-color: #000000 !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000000 !important;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #000000 !important;
    --bs-gradient: none;
    --bs-btn-border-radius: 30px;
    font-size: calc(1rem + .3vw) !important;
}

.rounded-corners {
    border-radius: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.rounded-image { 
    object-fit: cover;
    background: url("../images/me.jpg");
    width: 600px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.sottotitolo {
    font-size: calc(1.5rem + 0.3vw);
    margin-bottom: 40px;
}

.titolo {
    font-size: calc(5rem + 0.5vw);
    font-weight:700;
    margin-bottom: 15px;
}

.flipped-image {
    transform: scaleX(-1);
}

.bio {
    text-align: justify;
    font-size: 15px;
}

.skill-card {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #DBDBDB;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-top: 5px;
}

.skill-card img {
    max-width: 100%;
    height: auto;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.navbar-site {
    background-color: rgba(248, 248, 248, 0.8);
}

.navbar .navbar-brand {
    color: #000000 !important;
    font-weight: 600;
}

.nav-item .nav-link:hover {
    font-weight: bold;
}

.button-link {
    text-decoration: none !important;
}

.button-link:hover {
    color: #fff !important;
}

.button-link:visited:hover {
    color: #fff !important;
}

.button-link:visited {
    color: #000000 !important;
}

.contact-form {
    width: 60%;
    margin-bottom: 5%;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.portfolio-container{
    margin-top: 5%;
}

.card-text, .card-title {
    text-align:  center !important;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.card-border {
    border-color: #DBDBDB;
    border: 2px solid;
    border-radius: 20px;
}

.row, .col-lg-10 {
    width: 100%;
    box-sizing: border-box;
  }
